<div class="jumbotron">
  <h2>We Are Promo<i>Pass</i></h2>
<p>Businesses need an efficient way to share information with their customers. Currently, businesses use flyers, billboards,  and sandwich boards on sidewalks outside of their establishments in order to advertise to passersby. Use of the app Promo<i>Pass</i> will allow businesses to cut down on costs of advertising and make sure they reach more customers than ever before. Promo<i>Pass</i> offers a convenient way for customers to receive and store promotional information all in one place.</p>
</div>
