<form class="form" ua-signup>
  <h2 class="form-heading">Please Register</h2>
  <div class="form-fields">
    
     <!--<input name="first_name" placeholder="First Name"><br>
       <input name="last_name" placeholder="Last Name"><br>-->
    
    <label for="login">Email:</label>
    <input ng-model="login" name="login" placeholder="Enter email" type="email" class="form-control" ua-is-email>
    <br>
    
    <label for="password">Password:</label>
    <input name="password" placeholder="Enter password" type="password" class="form-control">
    <br>
    <label for="confirm">Confirm Password:</label>
    <input name="confirm" placeholder="Re-enter password" type="password" class="form-control">
    <br>
    <label for="business">Business:</label>
    <input name="business" placeholder="Enter business name" type="text" class="form-control">
    <br>
    <label for="gimbalID">Gimbal ID:</label>
    <input name="gimbalID" placeholder="Enter Gimbal ID number" type="text" class="form-control">
    <br>
    <label for="business">Business Type(s):</label>
    <div class="checkbox">
	<label><input type="checkbox" value="bar">Bar</label>
    </div>
    <div class="checkbox">
	<label><input type="checkbox" value="cafe">Cafe</label>
    </div> 
    <div class="checkbox">
	<label><input type="checkbox" value="restaurant">Restaurant</label>
    </div>
    </div>
  <br>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading">
    <span ng-click="register()" ng-show="!loading">Register</span>
    <img ng-show="loading" src="img/ajax-loader-blue.gif">
  </button>
  <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
  <div ng-show="verificationEmailSent" class="alert alert-success">An email has been sent to your inbox. Click on the link to verify your account.</div>
</form>
