 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      
      
        <div class="col-md-4">
          <h2>ad title</h2>
          <p>Summary </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        
        
        
        
         <div class="col-md-4">
          <h2>ad title</h2>
          <p>Summary </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
         <div class="col-md-4">
          <h2>ad title</h2>
          <p>Summary </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
         <div class="col-md-4">
          <h2>ad title</h2>
          <p>Summary </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        
        
        
    </div>
</div>